body{
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("img/background3.jpg");
}

.link{
    color: red;
}

.content-wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border: 2px solid white;
}

.m1{
    padding-top: 150px;
}

.submit{
    background-color: rgba(132, 0, 146, 0.5);
    font-size: 25px;
    color: white;
}

.app-section{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    align-items: center;
    color: white;
    font-size: 25px;
}