<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit List</title>
    <link rel="stylesheet" type="text/css" href="/form-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="background-color: #FF4500;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Show All Posts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reddit Posts (by title)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <table th:each="reddit: ${reddits}">
                        <tr>
                            <span>  <a th:text=" ${reddit.title}" th:href="@{/detail/{id}(id=${reddit.id})}"></a></span>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
        <form th:action="@{/search}" class="form-inline my-2 my-lg-0 search-align">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br><br>
<div class="m1">
    <div class="content-wrapper app-section">
        <h4><em><span th:text="${reddit.title}" ></span></em></h4><br/>
        <h4>Submitted by <span th:text="${reddit.name}" ></span></h4><br/>
        <h4><span th:text="${reddit.date}" ></span></h4><br/>
        <h4>URL: <a th:href="${reddit.URL}"><span th:text="${reddit.URL}" ></span></a></h4><br/>
        <strong><a class="link" th:href="@{/delete/{id}(id=${reddit.id})}">Delete This Post</a></strong>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>